<div class="privacy">
  <div class="container">
    <div class="row">
      <h1>プライバシーポリシー</h1>

      <p>
        このプライバシーポリシー（以下「本ポリシー」とします。）は学生団体WIFRE（以下「当団体」とします。）このウェブサイト上で提供するサービス（以下、「本サービス」といいます）に関する個人情報を含む利用者情報の取扱いについて定めるものです。
      </p>
      <p>
        当団体は、個人情報の保護に関して、組織的、物理的、人的、技術的に適切な対策を実施し、当団体の取り扱う個人情報の漏えい、滅失又はき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講ずるものとします。
      </p>

      <h3>第一条　個人情報の取得等の遵守事項</h3>
      <h4>（１）個人情報の取得</h4>
      <p>
        当団体は、本サービスの運営に必要な範囲で、本サービスの一般利用者（以下「ユーザー」とします。）から個人情報を取得することがあります。
      </p>
      <h4>（２）個人情報の利用目的</h4>
      <p>
        当団体は、当団体が取得した個人情報について、法令に定める場合又は本人の同意を得た場合を除き、以下に定める利用目的の達成に必要な範囲を超えて利用することはありません。
      </p>
      <p>①本サービスの運営、維持、管理</p>
      <p>②本サービスを通じたサービスの提供及び紹介</p>
      <p>③本サービスに関するご案内、お問い合せ等への対応のため</p>
      <p>④本サービスに関する規約等の変更などを通知するため</p>
      <p>⑤①の利用目的に付随する利用目的のため</p>

      <h4>（３）個人情報の提供等</h4>
      <p>
        当団体は、法令で定める場合を除き、本人の同意に基づき取得した個人情報を、本人の事前の同意なく第三者に提供することはありません。なお、本人の求めによる個人情報の開示、訂正、追加若しくは削除又は利用目的の通知については、法令に従いこれを行うとともに、ご意見、ご相談に関して適切に対応します。
      </p>

      <h3>第二条　個人情報の利用目的の変更</h3>
      <p>
        当団体は、前項で特定した利用目的は、予め本人の同意を得た場合を除くほかは、原則として変更しません。但し、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲において、予め変更後の利用目的を公表の上で変更を行う場合はこの限りではありません。
      </p>

      <h3>第三条　個人情報の第三者への開示</h3>
      <p>
        本サービスでは、利用者情報のうち個人情報又は個人データを、本人の了承がある場合、または法令等への協力のため開示が必要となる場合を除き、第三者に開示することはありません。
      </p>

      <h3>第四条　個人情報の取り扱いの改善・見直し</h3>
      <p>
        当団体は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
      </p>

      <h3>第五条　個人情報の廃棄</h3>
      <p>
        当団体は、個人情報の利用目的に照らしその必要性が失われたときは、個人情報を消去又は廃棄するものとし、当該消去及び廃棄は、外部流失等の危険を防止するために必要かつ適切な方法により、業務の遂行上必要な限りにおいて行います。
      </p>

      <h3>第六条　Cookie（クッキー）その他の技術の利用</h3>
      <p>
        本サービスは、Cookieおよびこれに類する技術を利用することがあります。Cookieを利用することで、本サービスにおける利用状況等の把握に役立ち、利用者に最適化されたサービスの提供に役立つなど、サービス向上に資するものです。Cookieの無効化を希望する方は、ウェブブラウザの設定を変更することによりCookieを無効化することができます。
  ただし、Cookieを無効化すると、サービスの一部の機能をご利用いただけなくなる場合があります。
      </p>

      <h3>第七条　Cookie（クッキー）を使用して行っている事</h3>
      <p>以下の目的のため、本サービスはcookieを利用しています。</p>
      <p>
        ①ユーザーが認証サービスにログインされるとき、保存されているユーザーの登録情報を参照し、ユーザーごとにカスタマイズされたサービスを提供できるようにするため。
      </p>
      <p>
        ②本サービスを改善するため。
      </p>
      <p>
        ③セキュリティー保持のため、ご利用から一定時間経過したユーザーに対してパスワードの再入力を促すため。
      </p>
      <p>
        ④本サービスの利用者数やトラフィック調査を行うため。
      </p>
      <p>
        なお、当団体は、当団体の広告の配信を委託する第三者への委託に基づき、第三者を経由して、当団体のクッキーを保存し、参照する場合があります。
      </p>

      <h3>第八条　免責事項</h3>
      <p>
        本サービスは掲載情報において、できる限り正確な情報を掲載するよう努めておりますが、その全てを保障するものではありません。
      </p>
      <p>
        なお、本サービスのご利用により生じたいかなる損害においても、当団体は一切責任を負いません。 本サービスの掲載画像、デザイン、テキスト等に関する著作権は放棄しておりません。
      </p>

      <h3>第九条　プライバシーポリシーの変更</h3>
      <p>
        なお、本サービスのご利用により生じたいかなる損害においても、当団体は一切責任を負いません。 本サービスの掲載画像、デザイン、テキスト等に関する著作権は放棄しておりません。
      </p>

      <h3>第十条　お問い合わせ</h3>
      <p>当団体の個人情報の取扱に関するお問い合せは下記メールにてご連絡ください。</p>
      <p>wifre.info@google.com</p>

      <p class="enforcement-date">2020年11月30日　施行</p>

    </div>
  </div>
</div>
