<div class="signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="signup-complete">
          <h1>確認メールの送信が<br>完了しました！</h1>
          <div class="complete-detail">
            <p>入力されたメールアドレスに確認メールを送信しました。添付されたURLより本人確認を行ってください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
