<p>===============================</p>
<%= @user.nickname %>さん
<p>===============================</p>

<p>フレンド申請が届きました！</p>
<p>承認をしてメッセージを送ってみましょう！</p>

<p>▼フレンド認証はこちらから</p>
<p><%= link_to 'フレンド認証', users_url %></p>
