<p>===============================</p>
<p><%= @resource.nickname %>さん</p>
<p>===============================</p>
<p>WIFREへようこそ！</p>

<p>以下のリンクからメールアドレスの確認を行ってください。</p>

<p><%= link_to 'メールアドレスの確認', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>ご不明な点がございましたらこちらのメールアドレスまでお問い合わせください。</p>
<p>wifre.info@email.com</p>
